$contentBackground:#fff;
$top_image: url(../img/m-h-day.jpg);
$button_color: #699900;
$logo_color: #2F333F;
$section_card_color:#1b1e2a;
$section_banner_color:linear-gradient(0.25turn,#65950e,#2e5cd6);
$around_text: #14a0c7;
$font_of_type: 'Hind', sans-serif;