$contentBackground:#21232e;
$top_image: url(../img/m-h-night.jpg);
$button_color: #e3ac00;
$logo_color: #ffffff;
$section_card_color:#3b3f50;
$section_banner_color:linear-gradient(0.25turn,#dda307,#952f51);
$around_text: #ff4e33;
$font_of_type:'Fresca', sans-serif;